---
import Layout from '../layouts/Layout.astro';
import CodeEditor from '../components/CodeEditor.svelte';
---

<Layout title="NOc">
	<main>
		<CodeEditor client:load>
			
		</CodeEditor>
		<h1>A</h1>
	</main>
</Layout>
