---
import Layout from '../layouts/Layout.astro';
import CodeDisplay from '../components/CodeDisplay.svelte'
import CodeEditor from '../components/CodeEditor.astro'
---

<Layout title="NOc">
	<main>
		<!-- <CodeEditor client:load code="Hello, World! Hi">
		</CodeEditor> -->
		<CodeEditor code="Hello world"></CodeEditor>
		<h1>A</h1>
	</main>
</Layout>
